<section class="bp-section bg-newssection">
  <div class="bp-container is-fluid">
      <div class="row">
          <div class="col is-half is-offset-one-quarter padding--top--xl padding--bottom--xl">
              <h3 class="has-text-secondary">Individuals <b>above 45 years old</b> may now register interest for vaccination.</h3>
              <br />
              <p>Individuals between 45-60 years old will be invited to book appointments when there are slots. As of <span id="curr-date"></span>,</p>
              <div class="row">
                <div class="col is-half has-text-centered padding--top--lg padding--bottom--lg">
                  <h3 id="num-total-preregistrations"></h3>
                  <p>Have registered interest</p>
                </div>
                <div class="col is-half has-text-centered padding--top--lg padding--bottom--lg">
                  <h3 id="num-total-booking-links-sent"></h3>
                  <p>Have been invited to book</p>
                </div>
              </div>
              <p><b>Due to limited vaccine supply, only individuals who registered before 1st week of April 
                have been invited to book their appointments.</b>
                For those who registered after that time point, you will receive your invitation to book by mid-May.</p>
          </div>
      </div>
  </div>
</section>

<!-- Scripts to display the vaccine stats -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/assets/js/stats.js"></script>